<!-- _______________________________________________________ -->
<!-- CODIGO PYTHON, USO DE ENLAZADO PARA PLANTILLA BASE-->
{% extends "Template_Main/ViewTemplate_Main.html" %}

<!-- _______________________________________________________ -->
<!-- INDICA EL TITULO DINAMICO -->
{% block titulo %} CrudIndexProductList {% endblock %}

<!-- _______________________________________________________ -->
<!-- CONTENIDO DE HTML PRINCIPAL A TRAVEZ DEL USO DE PLANTILLAS-->
{% block contenido %}
    <h1>VIEW CRUD INDEX</h1>
    <h3>LISTA DE PRODUCTOS</h3>
    <br><br>
    <div class="card">

        <div class="card-header">
            Listar productos
        </div>

        <div class="card-body">
            <h4 class="card-title">Productos en inventario</h4>

            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Inventario</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- CICLO DE VISUALIZACION DE PRODUCTOS -->
                        {% for Product in Products_All %}
                        <tr class="">
                            <td scope="row">{{Product.ProductId}}</td>
                            <td>{{Product.ProductName}}</td>
                            <td>{{Product.ProductDescription}}</td>
                            <td>{{Product.ProductValue}}</td>
                            <td>{{Product.ProductInventory}}</td>
                            <td>
                                <!-- ERROR, NO SE VISUALIZA IMAGENES, POSIBLE ERROR EN LA ASIGNACION DE RUTA Y POSIBLE MALA DESIGNACION DE PERMISOS -->
                                <img src="{{Product.ProductImage.url}}" height="100" width="100">
                            </td>
                            <th scope="col">
                                <!-- SE COMUNICA CON EL FORMULARIO A TRAVEZ DE UN NUMERO O ID EN LA URL ** href="{% url 'CrudEdit' Product.ProductId %} ** -->
                                <a class="btn btn-info" role="button" href="{% url 'CrudEdit' Product.ProductId %}">Editar</a>
                                |
                                <a class="btn btn-danger" role="button" href="{% url 'CrudDelete' Product.ProductId %}">Borrar</a>
                            </th>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            

        </div>

        <div class="card-footer text-muted">
        </div>

    </div>

{% endblock %}