<!-- FROMULARIO -->
<form enctype="multipart/form-data" method="post">

    <!-- TOQUEN O LLAVE QUE PERMITE LA INTERACCION Y LA PERTENECIA DEL FORMULARIO -->
    {% csrf_token %}

    <!-- CICLO PARA FORMULARIO-->
    {% for FormCampo in ObjForm_Html %}

        <!-- ELEMENTOS PRINCIPALES DEL FORMULARIO -->
        <div class="mb-3">
            <br>
            <!-- PARA VISUALIZAR EL ELEMENTO DEL OBJETO LA QUE SE HACE REFERENCIA
            SE HACEL EL USO DE LA ETIQUETA PARA VISUALIZAR EL NOMBRE DEL ATRIBUTO ASIGNADO 
            DEL MODELO EN USO "verbose_name" -->
            <label for="" class="form-label">{{ FormCampo.label }}</label>
            <br>

            <!-- METODO QUE PERMITE LA VERIFICACION DEL TIPO DE DATO, NO ESTA FUNCIONANDO-->
            {% if FormCampo.field.widget.input_type == 'file' and FormCampo.value %}
                <img src="{{MEDIA_URL}}/AppCrudStore/Images/{{FormCampo.value}}" alt="">
            {% endif %}

            <!-- !!! IMPORTANTE
            EN LA PARTE DE "name", POR CADA VES QUE EL CICLO GENERE UNA CASILLA, AÑADE
            LA PROPIEDAD A LA NUEVA CASILLA SEGUN LA PARTE DEL MODEL GENERADA 
            1. PARA INDICAR EL VALOR POR DEFECTO SE AGREGA EN value default:''
            -->
            <input 
                type="{{FormCampo.field.widget.input_type}}"
                class="form-control" 
                name="{{FormCampo.name}}" 
                placeholder="{{FormCampo.label}}"
                value="{{FormCampo.value | default:''}}"
                id="" 
                aria-describedby="helpId"
            >
            <hr>
        </div>
        
        <!-- CUADRO DE MENSAJES 
        PERMITE RECONOCER ERRORES AL INGRESAR INFORMACION EN LAS CASILLAS
        Y MOSTRAR MENSAJES DE ALERTA EN LA PANTALLA
        -->
        <div class="col-12 help-tex">
            {{FormCampo.errors}}
        </div>

    {% endfor %}

    <br>

    <div class="row align-items-md-stretch">
        <div class="col-md-6"><input name="" id="" class="btn btn-success" type="submit" value="Enviar" width="100%"></div>
        <div class="col-md-6"><a name="HtmlActionCancel" id="" class="btn btn-primary" href="{% url 'CrudIndex' %}" role="button" width="50%">Cancelar</a></div>
    </div>

</form>